{{/* Common meta + OG tags */}}
{{ $title := cond .IsHome .Site.Title .Title }}
{{ $desc := .Description | default .Params.description | default .Site.Params.description }}
{{ $author := .Params.author | default .Site.Params.author }}
<meta name="description" content="{{ $desc }}">
{{ with $author }}<meta name="author" content="{{ . }}">{{ end }}

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">