<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.png" alt="Site Logo">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/html5-templates/">HTML5 Templates</a></li>
        <li><a href="/wordpress-themes/">Wordpress Themes</a></li>
        <li><a href="/design-inspiration/">Design Inspiration</a></li>
        <li><a href="/resources/">Resources</a></li>
      </ul>
    </div>
  </div>
</nav>