<div class="stats">
  <div class="stat"><div class="stat-n">5</div><div class="stat-l">CVEs Published</div></div>
  <div class="stat"><div class="stat-n">16<span>mo</span></div><div class="stat-l">Pentest Field Exp</div></div>
  <div class="stat"><div class="stat-n">90<span>+</span></div><div class="stat-l">Medium Articles</div></div>
  <div class="stat"><div class="stat-n">1<span>st</span></div><div class="stat-l">Deloitte CTF</div></div>
  <div class="stat"><div class="stat-n">4<span>+</span></div><div class="stat-l">Certifications</div></div>
</div>
